/* Body */

body {
    font-family: 'Open Sans', sans-serif;
}

/* Home Page */

/* Navbar */

nav > a {
    margin-left: 5%;
}

.navbar-toggler {
    margin-right: 5%;
}

@media only screen and (max-width: 767.5px) {
    .nav-item {
    margin-left: 5%;
}
}


/* Carousel */
/* Code for carousel from https://www.youtube.com/watch?v=9HcxHDS2w1s */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
}

.carousel {
    width: 100%;
    height: 60vh;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide[data-active] {
    opacity: 1;
    transition-delay: 0ms;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-button {
    position: absolute;
    background: none;
    font-size: 4rem;
    top:50%;
    z-index: 2;
    transform: translateY(-50%);
    color: rgba(255,255,255, 0.5);
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
}

.carousel-button:hover, .carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left:1rem;
}

.carousel-button.next {
    right:1rem;
}

.active-bookings-div h2 {
    text-align: center;
}

.active-bookings {
    width: 100%;
    margin-bottom: 1rem;
}

.active-bookings th, .active-bookings td{
    text-align: center;
    padding: 0 1rem 0 1rem;
}
.btn-column {
    padding: 0 0.5rem 0 0.5rem !important;
}


@media only screen and (max-width: 600px) {
    .disappear {
    display: none;
}
}



/* Footer */

.social-networks {
    margin: 0;
    padding: 0;
}

.socials {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}

.social-networks i {
    color: white;
    font-size: 1.5em;
}

.footer-header, .footer-p {
    margin:0;
}


.footer-div {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Messages */

.message-container {
    position: absolute;
    z-index: 2;
    top: 10%;
    left:10%;
    width: 80%;
}

/* Movies Page*/

.movie-col img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.movie-col {
    margin-bottom: 2rem;
}

.movie-col a {
    color: black;
}

.movie-title-link:hover {
    font-weight: 900;
}

/* Movie Details Page */

.center-title {
    text-align: center;
    margin: 2rem 0 0 0;
}

.movie-desc {
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
}

.movie-showcase-div {
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-showcase-div img {
    width: 100%;
    height: auto;
}

.movie-desc ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.movie-desc span {
    font-weight: 600;
}

.custom-btn {
    margin: 2rem 0 3rem 0;
    width: 10rem;
    background-color: rgb(200 46 46);
    color: white;
    font-weight: 600;
    border: 2px solid rgb(200 46 46);
    font-size: 1.2rem;
}

.custom-btn:hover {
    color: rgb(200 46 46);
    background-color: white;
    border: 2px solid rgb(200 46 46);
    font-weight: 900;
}

/* Reviews Section */

.review-form-container {
    width: 80%;
    margin: 0 10% 0 10%;
}

.review-p {
    width: 80%;
    margin: 2% 10% 2% 10%;
}

.no-reviews {
    text-align: center;
    font-size: 1.2rem;
}

/* Sign Up */

.sign-up-container {
    text-align: center;
    margin: 2rem 0 0 0;
}

#signup-div, #login-div {
    margin: 0 0 2rem 0;
}

#signup_form label, #login-form label {
    display: block;
}

.signup input, .login input {
    width: 300px;
}

/* #login-form > p:nth-child(4) > label {
    display: inline-block!important;
} */

#login-form ul {
    list-style: none;
    padding: 0;
    margin: 0 0 1rem 0;
}

#login-form li {
    max-width: 300px;
    color: red;
}

#id_remember {
    max-width: 30px;
}

.button-div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.button-div .custom-btn {
    margin-bottom: 0;
}

@media only screen and (max-width: 767.5px) {
    .sign-up-container > div > div {
        margin-left: 0;
    }
  }

@media only screen and (max-width: 320px) {
    .signup input, .login input {
        width: 250px;
    }
  }

/* Movie Showings */

.showings-table {
    margin: 2rem 0 2rem 0;
}

.showings-table td, .showings-table th {
    padding: 0.5rem;
    text-align: center;
}

.small-btn {
    background-color: rgb(200 46 46);
    color: white;
    border: 2px solid rgb(200 46 46);
    font-weight: 600;
}

.small-btn:hover {
    color: rgb(200 46 46);
    background-color: white;
    border: 2px solid rgb(200 46 46);
}

.ticket-price {
    margin: 1rem 0 0 0;
    text-align: center;
    display: none;
}

.ticket-price-print {
    margin: 1rem 0 0 0;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .appear {
    display: block;
}
}

/* Order Page */
.order-label {
    margin-right: 1rem;
}

@media only screen and (max-width: 600px) {
    .to-flex-col {
        flex-direction: column !important;
    }
}

/* Find a Cinema Page */
/* Code for the Google Map API from Code Institute's Bootstrap Resume Project */

div#map {
    min-height: 500px;
    margin-top: 1rem;
}

/* Edit Booking Form */

#edit-booking-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#edit-booking-form label {
    width:40%;
    margin: 0 30% 0 30%;
    text-align: center;
    font-weight: 600;
}

#edit-booking-form input {
    width: 6%;
    margin: 0 47% 1rem 47%;
}

#id_showing {
    width: 30%;
    margin: 0 35% 1rem 35%;
}

#id_number_of_tickets {
    width: 20%;
}

#edit-booking-form button {
    width: 6%;
    margin: 0 47% 1rem 47%;
}

@media only screen and (max-width: 1200px) {
    #edit-booking-form label {
        width:80%;
        margin: 0 10% 0 10%;
        text-align: center;
    }
    
    #edit-booking-form input {
        width: 20%;
        margin: 0 40% 1rem 40%;
    }
    
    #id_showing {
        width: 80%;
        margin: 0 10% 1rem 10%;
    }
    
    #id_number_of_tickets {
        width: 20%;
    }
    
    #edit-booking-form button {
        width: 24%;
        margin: 0 38% 1rem 38%;
    }
}

/* Delete Booking Page */

.center-p {
    text-align: center;
    margin: 0 10% 0 10% 0;
}