{% extends 'base.html' %}

{% block content %}

<div>
    <h1 class="center-title">{{ movie.title }}</h1>
</div>

<div class="d-flex justify-content-center align-items-center">
    <div class="movie-showcase-div col-sm-10 col-md-8 col-lg-6" >
        <img src="{{ movie.featured_image.url }}" alt="{{ movie.title }} Image">
    </div>
</div>
<div>
    <h2 class="center-title">
        Next Available Showings
    </h2>
</div>

<p class="ticket-price appear"><span><strong>Ticket Price: </strong></span>£10</p>
<p class="ticket-price-print appear">Please pay upon collection.</p>

<div class="d-flex justify-content-center">
    <table class="showings-table">
        <tr>
            <th class="disappear">Movie</th>
            <th>Location</th>
            <th>Date</th>
            <th>Time</th>
            <th class="disappear">Seats Remaining</th>
            <th class="disappear">Ticket Price</th>
            <th></th>
        </tr>
        {% for showing in showings %}
        <tr>
            <td class="disappear">{{ movie.title }}</td>
            <td>{{ showing.location }}</td>
            <td>{{ showing.day_shown }}</td>
            <td>{{ showing.time_shown }}</td>
            <td class="disappear">{{ showing.seats_remaining }}</td>
            <td class="disappear">{{ showing.ticket_price }}</td>
            <td><a href="{% url 'order' slug=movie.slug id=showing.id %}"><button class="small-btn">Book</button></a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}