{% extends 'base.html' %}

{% block content %}

<div>
    <h1 class="center-title">{{ movie.title }}</h1>
</div>

<div class="d-flex justify-content-center align-items-center">
    <div class="movie-showcase-div col-sm-10 col-md-8 col-lg-6" >
        <img src="{{ movie.featured_image.url }}" alt="{{ movie.title }} Image">
    </div>
</div>
<div>
    <h2 class="center-title">
        Next Available Showings
    </h2>
</div>

<div class="d-flex justify-content-center">
    <table class="showings-table">
        <tr>
            <th>Movie</th>
            <th>Location</th>
            <th>Date</th>
            <th>Time</th>
            <th>Seats Remaining</th>
            <th>Ticket Price</th>
        </tr>
        {% for showing in showings %}
        <tr>
            <td>{{ movie.title }}</td>
            <td>{{ showing.location }}</td>
            <td>{{ showing.day_shown }}</td>
            <td>{{ showing.time_shown }}</td>
            <td>{{ showing.seats_remaining }}</td>
            <td>{{ showing.ticket_price }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}