{% extends 'base.html' %}

{% block content %}

<div>
    <h1 class="center-title"><span id="edit-movie-title">{{ booking.movie.title }}</span></h1>
</div>

<div class="d-flex justify-content-center align-items-center">
    <div class="movie-showcase-div col-sm-10 col-md-8 col-lg-6" >
        <img src="{{ booking.movie.featured_image.url }}" alt="{{ movie.title }} Image">
    </div>
</div>

<form id="edit-booking-form" method="POST" action="">
    {% csrf_token %}
    {{form}}
    <button class="small-btn" type="submit">Submit</button>
</form>

<script>
    // Checks the movie title for the existing showing. Removes showing options for other movies

    var movie_name = $('#edit-movie-title').text();

    var showingOptions = $("#id_showing").children();
        for (option of showingOptions) {
            if (option.text.includes(movie_name)) {
                //pass
            } else {
                option.remove();
            }
        }
</script>

{% endblock %}