{% extends 'base.html' %}

{% block content %}

<h1><span id="edit-movie-title">{{ booking.movie.title }}</span></h1>

<form method="POST" action="">
    {% csrf_token %}
    {{form}}
    <input type="submit">
</form>

<script>
    // Checks the movie title for the existing showing. Removes showing options for other movies

    var movie_name = $('#edit-movie-title').text();

    var showingOptions = $("#id_showing").children();
        for (option of showingOptions) {
            if (option.text.includes(movie_name)) {
                //pass
            } else {
                option.remove();
            }
        }
</script>

{% endblock %}