{% extends 'base.html' %}

{% block content %}
<!-- Code for carousel from https://www.youtube.com/watch?v=9HcxHDS2w1s -->
<section aria-label="Latest Movies">
    <div class="carousel" data-carousel>
        <button class="carousel-button prev" data-carousel-button="prev">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        <button class="carousel-button next" data-carousel-button="next">
            <i class="fa-solid fa-arrow-right"></i>
        </button>
        <ul data-slides>
            <li class="slide" data-active>
                <img src="{{ spiderman.featured_image.url }}" alt="Spider man image">
            </li>
            <li class="slide">
                <img src="../static/images/find a cinema.png" alt="Man in cinema eating popcorn">
            </li>
            <li class="slide">
                <img src="https://cdn.mos.cms.futurecdn.net/aTK8YBkBAbqCSzNGxt8adL-1200-80.jpg.webp" alt="Ironman image">
            </li>
            
        </ul>
    </div>
</section>
{% if user.is_authenticated %}
    {% if bookings|length >= 1 %}
    <section class="mt-3">
        <div class="d-flex justify-content-center">
            <div>
                <h2 style="text-align: center;">Your Active Bookings</h2>
                <table class="active-bookings">
                    <tr>
                        <th>Movie</th>
                        <th class="disappear">Tickets</th>
                        <th class="disappear">Date</th>
                        <th class="disappear">Time</th>
                        <th class="btn-column"></th>
                        <th class="btn-column"></th>
                    </tr>
                    {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.movie.title }}</td>
                        <td class="disappear">{{ booking.number_of_tickets }}</td>
                        <td class="disappear">{{ booking.showing.day_shown }}</td>
                        <td class="disappear">{{ booking.showing.time_shown }}</td>
                        <td class="btn-column"><a href="{% url 'edit-booking' id=booking.id %}"><button class="small-btn">Edit</button></a></td>
                        <td class="btn-column"><a href="{% url 'delete-booking' id=booking.id %}"><button class="small-btn">Cancel</button></a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
    {% endif %}
{% endif %}

<script src="../static/js/script.js" defer></script>
{% endblock %}